/* Docked Panel Logic */
#desktop-panel-portal:empty {
    width: 0px !important;
    border-left: none !important;
}

#desktop-panel-portal:not(:empty) {
    width: 420px !important; /* Fixed width when open */
    min-width: 420px !important;
}
